<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水利厅爬虫</title>
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
    <script src="../statics/js/jquery.min.js"></script>
    <script src="../statics/js/bootstrap.min.js"></script>
    <script src="../statics/js/index.js"></script>
    <link rel="stylesheet" href="../statics/css/index.css"/>
</head>
<body>
<div class="">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <form  action="" method="post">
            <div class = "form-group">
                <label for="project">Project</label>
                <input type="text" class="form-control" id = "project"/>
            </div>
            <div class = "form-group">
                <label for="Start-URL">Start-URL</label>
                <input type="text" class="form-control" id = "Start-URL"/>
            </div>
            <div class = "form-group">
                <label for="Key-Word">Key-Word</label>
                <input type="text" class="form-control" id = "Key-Word"/>
            </div>
            <div class = "form-group">
                <label for="Next-Page-Name">Next-Page-Name</label>
                <input type="text" class="form-control" id = "Next-Page-Name"/>
            </div>
            <div class = "form-group">
                <label for="Page-Num">Page-Num</label>
                <input type="text" class="form-control" id = "Page-Num"/>
            </div>
            <div class = "form-group">
                <label for="Item-CSS-Selecter">Item-CSS-Selecter</label>
                <input type="text" class="form-control" id = "Item-CSS-Selecter"/>
            </div>
            <div class = "form-group">
                <label for="Filter-Word">Filter-Word</label>
                <input type="text" class="form-control" id = "Filter-Word"/>
            </div>
            <div class = "form-group">
                <label for="Publish-Time-CSS-Selector">Publish-Time-CSS-Selector</label>
                <input type="text" class="form-control" id = "Publish-Time-CSS-Selector"/>
            </div>
            <div class = "form-group">
                <label for="Start-Crawl">Start-Crawl</label>
                <input type="submit" class="btn btn-primary btn-sm" id= "Start-Crawl" onclick=""/>
            </div>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>
</body>
</html>